.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: url('./../../assets/homePageEnDesarrollo.jpg');
  background-size: cover;
}

.login-form {
  background-color: rgba(255,255,255,0.50);
  box-shadow: 0px 8px 32px 0 rgba(0, 0, 255, 0.40);
  backdrop-filter: blur(10px);
  padding: 0px 16px 16px 16px;
  border-radius: 16px;
  text-align: center;
}

.login-button {
  font-size: medium;
  height: auto;
}

.ant-form-item-label {
  width: 15vw !important; 
  text-align: left !important;
  left: 1vw; 
  font-weight: 500;
}

.ant-col-9.ant-form-item-label {
  margin-right: -45px !important;
}

.ant-form-item-control-input {
  width: 100%;
  margin-left: 0 !important; /* Elimina cualquier margen izquierdo */
}

.login-input {
  width: 100%;
  margin-bottom: 16px;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 24px;
  color: white;
  font-size: 40px;
  margin-bottom: 16px;
}

.social-icon {
  cursor: pointer;
}

.register-form {
  background-color: rgba(255,255,255,0.50);
  box-shadow: 0px 8px 32px 0 rgba(0, 0, 255, 0.40);
  backdrop-filter: blur(10px);
  padding: 0px 16px 16px 16px;
  border-radius: 16px;
  text-align: center;
  width: 40vw;
}

.register-button {
  font-size: medium;
  height: auto;
}

.register-input {
  width: 100%;
  margin-bottom: 16px;
}

.ant-upload{
  background-color: white;
  border-radius: 8px;
}
