
.table-my-host-rents .ant-table-thead {
    background-color: lightblue;
    text-align: center; 
  }
  
  .table-my-host-rents .ant-table-cell {
    border: 2px solid rgb(92, 95, 95); 
    text-align: center; 
    padding: 8px; 
    font-size: 17px
  }
  

  .table-my-host-rents .ant-table-cell.ant-table-cell-1,
  .table-my-host-rents .ant-table-cell.ant-table-cell-2,
  .table-my-host-rents .ant-table-thead th {
    text-align: center;
  }
  
  .table-my-host-rents .ant-table-tbody tr td {
    background-color: #c1e4e9; /
  }
  
  .table-my-host-rents .ant-table-column-title {
    text-align: center;
  }
