.review-card {
  width: 450px;
  height: 170px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.review-card:hover {
  box-shadow: 0px 8px 32px 0 rgba(0, 0, 0, 0.27);
}


.review-card.overflowed .ant-card-meta-description {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
}


.ant-popover-content{
  width: 450px !important;
}