.qr-code-modal {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center;
}

.qr-code{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}



