.form-title {
    text-align: center; 
  }

.amenities-group {
    display: flex; /* Establecer el contenedor principal en flexbox */
}

.amenities-row {
    display: flex; /* Establecer las filas en flexbox */
    flex-direction: column; /* Establecer dirección en columna para elementos en cada fila */
    align-items: flex-start; /* Alinear elementos en cada fila a la izquierda */
    margin-right: 20px; /* Espacio entre las dos columnas */
}

.inputsize {
    width: 500px;
  }
.ant-form-item-control-input-content .ant-select {
    width: 500px;
  }
  .ant-btn-primary {
    margin-right: 300px; /* Ajusta el valor según lo necesites para el espacio entre los botones */
  } 