.app-layout-container {
  min-height: 100vh;
  /* background-color: crimson; */
}

/* 
  .app-layout-container   .app-sider-container {
  height: 100vh !important;
  width: 350px !important;
  position: fixed !important;
  z-index: 100 !important; 
  display: flex;
  background-color: rgb(115, 210, 19);
} */


.app-sider-container--collapsed {
  display: block !important;
}

.app-header-container {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Lato', sans-serif;
  /* background-color: rgb(163, 249, 77); *//
}

.app-content-container {
  margin: 0 !important;
  padding: 0 !important;
  
  /* background-color: chartreuse; */
}

.app-footer-container {
  margin: 0 !important;
  padding: 0 !important;
  height: 3.6vh;
  font-size: 14px;
  /* letter-spacing: 0.7px; */
  /* background-color: chartreuse; */
}


@media only screen and (max-width: 1436.2px)and (max-height: 1400px){
  .app-sider-container--collapsed{
    display: none !important;
  }

  .app-sider-container{
    height: 100% !important;
    position: fixed !important;
    z-index: 100 !important;
  }

}


