.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: url("./../../assets/homePageEnDesarrollo.jpg");
  background-size: cover;
}

.ant-form-item-label {
  width: 15vw !important;
  text-align: left !important;
  left: 1vw;
  font-weight: 500;
}

.password-recovery-form .ant-col-9.ant-form-item-label {
  margin-right: -45px !important;
}

.ant-form-item-control-input {
  width: 100%;
  margin-left: 0 !important; /* Elimina cualquier margen izquierdo */
}

.password-recovery-form {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 8px 32px 0 rgba(0, 0, 255, 0.4);
  backdrop-filter: blur(10px);
  padding: 0px 16px 16px 16px;
  border-radius: 16px;
  text-align: center;
  width: 40vw;
}

.recovery-button {
  font-size: medium;
  height: auto;
}

.recovery-input {
  width: 100%;
  margin-bottom: 16px;
}

.continue-button {
  font-size: large;
  height: auto;
}
